html, body, #app, .container {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
}

.main-content-container {
  padding-left: 20px;
}

.sidebar-left-push {
  padding-left: 250px;
}

.sidebar-container {
  width: 250px;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: black;
}

.sidebar-list {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-list-item {
  text-indent: 20px;
  line-height: 40px;
  color: #999;
}

.sidebar-list-item:hover {
  color: #EEEEEE;
  background-color: #555555
}

.new-note-book-input {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  height: 39px;
  width: 100%;
}
